body{
    font-family: poppins;
    height: 100vh;
    padding: 0;
    margin: 0;
}
/*********************** global CSS *******************/
.grey-bg{
    background-color: rgb(206, 206, 206);
}
.decrease-line-ht{
    line-height: 90%px;
}
.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}
.item{
    
    text-align: center;
    padding: 0px;
   
}
.tala-dotted-border{
    border-bottom: 4px dotted black !important;
}
.tala-solid-border{
    border-bottom: 2px solid black;
    
}
.border-right-bold{
    
    border-right: 5px solid black;
}
.border-bottom-bold{
    border-bottom: 5px solid black;
}
.left-border{
    border-left: 2px solid black;
}
.border-right{
    border-right: 2px solid black;
}
.align-left{
    text-align: left;
}

/******************************** Heading CSS *****************************/
.heading-ko-thulo{
    font-size: 30px;
    font-weight: 600;
    line-height: 50%;
    margin-top: -1px;
}
.heading-ko-smaller{
    font-size: large;
    font-weight: 400 !important;
}
.office-info{
    line-height: 30%;
    text-align: center;
}
.heading{
    text-align: center;
    margin-bottom: -20px;
   
}
#logo{
    height: 100px;
    margin-left: -120px;
    margin-bottom: -70px;
}
.heading div{
    margin-left: 50px;
    
    padding-bottom: 5px;
}
#top-img{
    height: 80px;
    margin-bottom: -20px;
    
}

/******************************** boxes haru ko *****************************/
.CV{
    
    padding-top: 2px ;
    margin: auto;
    width: 800px;
    height: 1048px;
    border: 5px solid black  !important;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 60px 40px 293px 80px 60px 80px 50px auto;
    
  }
  .start{
    margin-top: -3px;
    /* padding-top: 8px; */
  }
  
.grid-container2 {
    display: grid;
    grid-template-columns: 100px 190px 53px 50px 140px 130px  auto;
  }
.grid-container3{
    display: grid;
    grid-template-columns: 101px 292px 141px 130px auto;
   
    
}
.grid-container4{
    display: grid;
    grid-template-columns: 101px 250px 194px auto 110px auto;
}
.grid-container5{
    display: grid;
    grid-template-columns: auto auto;
}
.grid-container6{
    display: grid;
    grid-template-columns: 150px 285px auto ;
}
.grid-container7{
    display: grid;
    grid-template-columns: 150px 285px 100px auto ;
}
.grid-container8{
    display: grid;
    grid-template-columns: 190px 100px 160px  100px  140px 111px;

}
.grid-container9{
    display: grid;
    grid-template-columns: 190px auto;

}
.grid-container10{
    display: grid;
    grid-template-columns: 150px 210px 120px 100px 140px  auto;

}
.grid-container11{
    display: grid;
    grid-template-columns: 350px 100px 120px  auto;

}


@media print{
    body{
        margin-top: -10px;
        
    } 
}
